:root {
    --montserrat:'Montserrat', 'Open Sans', sans-serif;
    --aileron: 'Aileron', 'Open Sans', sans-serif;
    --accent: rgb(255, 94, 0);
}
html, body {
    box-sizing: border-box;
    background-color: #fafaff;
    overflow-x: hidden;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Aileron', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: url('./assets/cursor.svg'), auto !important;
}
.container-fluid {
    width: 87.5%;
}
@media (max-width: 768px) {
    .container-fluid {
        width: 100%;
    }
}
@keyframes fadeFromTop {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.animateDelay-1 {
    animation-delay: 1s;
}
