@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --montserrat:'Montserrat', 'Open Sans', sans-serif;
    --aileron: 'Aileron', 'Open Sans', sans-serif;
    --accent: rgb(255, 94, 0);
}
html, body {
    box-sizing: border-box;
    background-color: #fcfcff;
    overflow-x: hidden;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Aileron', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: url('./assets/cursor.svg'), auto !important;
}
.container-fluid {
    width: 87.5%;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
@media (max-width: 768px) {
    .container-fluid {
        width: 100%;
    }
}
@keyframes fadeIn {
    from {
        visibility: hidden;
        opacity: 0;
        filter: saturate(0);
    }
    to {
        visibility: visible;
        opacity: 1;
        filter: saturate(1);
    }
}
